#UserOptions input {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
}

#UserOptions input::placeholder {
    color: #555;
}

#UserOptions button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#UserOptions button:hover {
    background-color: #777;
}

#Message h1 {
    font-size: 1.5em;
    color: black;
    text-align: center;
}

* {
    z-index: 1;
}

body {
    background-color: grey;
    margin: 0;
    padding: 0;
    

}


#GameWindow {
    grid-row: 1;
    grid-column: 1;


    display: grid;
    height: 100vh;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto;
    margin: 0;
    padding: 0;
    border:  2px solid black;
    border-radius: 0;
}


#GameView {
    background-image: url(../../Assets/jonah.room.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    text-align: center;
    border-radius: 0px;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12% 73% 15%;
}

#Message {
    grid-row: 3;
    width: fit-content;
    max-width: 80%;
    background-color: #888C;
    margin: 10px auto;
    border: black 2px solid;

    /* Room starts with no message */
    /* display: none; */
}

#FocusedObject {
    max-height: 80%;
    background-color: #44444499;
    margin: 2em auto;
}



#InfoBar {
    /* background-color: blue; */
    background-image: url(../../Assets/plank.jpeg);
    color: wheat;
    margin: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: 2px solid black;

    border-radius: 9px;
}

#InfoBar > * {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

#UserOptions {
    grid-row: 2;
    grid-column: 1;

    /* background-color: green; */
    background-image: url(../../Assets/plank.jpeg);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0px;
    border-top: 2px solid black;
}

.UserOption {
    padding: 20px 80px;
    margin: 20px;
    /* border: 5px solid black; */
    border: 5px solid wheat ;
    color: wheat;
    cursor: pointer;
    user-select: none;
    border-radius: 9px;
}

.UserOption:hover {
    background-color: wheat;
    color: burlywood;
}

#Timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 3;
    grid-row: 1;
}


#Timer > button {
    padding: 0 .4em;
    margin: auto -30px auto 30px;
    font-size: 1.5em;
}

#Overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #9999;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 2;
}

#OverlayMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;

    border: 2px solid black;
    background-color: #999;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.OverlayButton {
    padding: .5em;
    margin: auto 1em;
    border-radius: 9px;
    font-size: 1.4em;
    width: 100%;
}

.OverlayButton:hover {
    background-color: #00FD00;
    cursor: pointer;
}
.LowButton {
    width: 18em;
    height: 9em;
   

}
.item {
    color: #aaaaaa;
    
    border-radius: 9px;
    border: 1px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555555;
    min-height: 80px;
}

.item:hover {
    background-color: #444444;
    cursor: pointer;
}